.hello-body {
	background-color: #669999;
}

.fire-body {
	background-color: #ffcc99;
}

.home-body {
	background-color: #999966;
}


body {
	position: relative;

	#app {
		ul#menu {
			list-style-type: none;
			padding: 45px;
			margin: 0;
			text-align: center;

			a {
				color: white;
				text-decoration: none;

				li {
					display:inline;
					padding: 43px;
					margin: 0 2px;
				}
				li.home-btn { background-color: #999966; }
				li.hello-btn { background-color: #996633; }
				li.fire-btn { background-color: #666633; }
			}

			

		}
		
	}
}